hr {
  margin: 0;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 66px;
  vertical-align: middle;
}

:host(.push-down) {
  margin-top: auto;
}

#top-hr {
  display: none;
}

:host(.push-down) #top-hr {
  display: block;
}

:host(.push-down) #bottom-hr {
  display: none;
}
