.m-top {
  margin-top: 20px;
  margin-bottom: 0px;
}

.auto-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0px 20px 0px 20px;
}

.stat-container {
  padding: 20px;
}

.statbox {
  border-radius: 10px;
  border: 1px solid #3D3D3D;
  margin: 15px 15px 0px 15px;
  padding: 10px;
  background-color: #2E2E2E;
}

.asset-container {
  border-radius: 10px;
  border: 3px solid #3D3D3D;
  display: inline-flex;
  justify-content: space-between;
}

.asset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin: 0px;
  color: black;
  font-weight: bold;
  width: 100%;
}

.asset * {
  color: black;
  font-weight: bold;
  margin: 0px;
}

.half-width {
  width: 50%;
}

.flex {
  display: flex;
}
