.credits-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  height: 50px;
}

.credit-box {
  display: flex;
  align-items: center;
  height: inherit;
}

.spacer {
  width: 10px;
}

img {
  height: inherit;
}

hr {
  margin: 0;
}

footer {
  overflow: hidden;
  margin: 8px 0 8px 0;
}

.footer-container {
  background-color: #303030;
  display: flex;
  flex-direction: column;
}
