<div class="home-container">
  <img src="assets/thorchain.png" />
  <h1>Enter your Thorchain Wallet Address</h1>

  <mat-form-field appearance="fill">
    <mat-label>Enter address:</mat-label>
    <input autocomplete="off" matInput type="text" [formControl]="addressControl">
    <button *ngIf="addressControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="addressControl.reset()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-error *ngIf="addressControl.touched">
    {{ addressControl.hasError('address') ? addressControl.getError('address') : '' }}
  </mat-error>

  <button mat-raised-button (click)="gotoLiquidityTracker()">Analyze</button>
</div>


<footer-component></footer-component>
