* {
  color: papayawhip;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
}

app-root {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 100%;
  justify-content: space-between;
}

view-root {
  /*Leave space for the footer*/
  min-height: calc(100vw-2rem); 
}
