.link-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 66px);
}

.heading {
  display: flex;
  flex-direction: row;
  margin: 10px 20px 20px 0px;
  justify-content: left;
  align-items: center;
}

.heading h1 {
  margin: 0px;
}




