<hr />

<footer class="credits-container">
  <a href="https://twitter.com/Playwo_" class="credit-box">
    <b>Made by Playwo</b>
    <div class="spacer"></div>
    <img src="assets/twitter.png" />
  </a>

  <a href="https://github.com/PoolPirate/Thorsight" class="credit-box">
      <b>Source Code</b>
      <div class="spacer"></div>
      <img src="assets/github.png" />
  </a>

  <a href="https://flipsidecrypto.xyz/" class="credit-box">
    <b>Data provided by Flipside</b>
    <div class="spacer"></div>
    <img src="assets/flipside.png" />
  </a>
</footer>

