<mat-drawer-container class="app-container" autosize>
  <mat-drawer #drawer mode="side">
    <nav-component (drawerToggle)="drawer.toggle()"></nav-component>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <div class="heading">
        <button *ngIf="!drawer.opened" id="sidebartoggle" type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>dehaze</mat-icon>
        </button>

        <div class="position-selector-container">
          <mat-form-field class="red" appearance="fill">
            <mat-label>Selected Position</mat-label>
            <mat-select [formControl]="positionSelector">
              <mat-option [value]="'all'">
                All
              </mat-option>
              <mat-option *ngFor="let position of allOpenPositions" [value]="position.poolName">
                {{ position.poolName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
    <footer-component></footer-component>
  </mat-drawer-content>
</mat-drawer-container>
